<h1>SPARQL-parser demonstrator</h1>
<p>This demostrator showcases two key features of <a href="https://github.com/mu-semtech/sparql-parser">SPARQL-parser</a>, the authorization component of the <a href="https://semantic.works">semantic.works</a> framework.</p>
<p>The <a href="/sparql">sparql</a> endpoint showcases data access, allowing the user to query the database, either publicly (unauthenticated) or using <code>/mock-login</code> to mimic an authenticated user.</p>
